.breadcrumb-section p{
    font-size: 0.875rem;
    line-height: 1.313rem;
    margin-bottom: 0;
    text-transform: capitalize;
}
.breadcrumb-section p span{
    color: #DB4444;
}
.account_heading {
    margin-bottom: 5rem;
}

.hero_section{
    padding-bottom: var(--spacing-140);
}

.account_wrapper{
    padding-block:var(--spacing-40);
    padding-inline: var(--spacing-80);
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}
.wrapper:has(aside){
    gap: 5rem;
}

.hero_section aside {
    --aside-width:12.5rem;
}
aside .nav-link {
    --bs-nav-link-font-weight:400;
    --bs-nav-link-color:var(--bs-black);
}
aside .nav-link:focus, .nav-link:hover {
    color: var(--bs-primary);
}
aside .dropdown-item:focus, .dropdown-item:hover {
    background-color: transparent;
}
aside .dropdown-item{
    color: rgba(0, 0, 0, 0.5);
}
aside .dropdown-item:hover{
    color: var(--bs-primary);
}

aside .dropdown-toggle::after{
    display: none;
}
aside .dropdown-menu{
    margin-top: 1rem;
}

.dropdown-menu {
    margin-left: 2.188rem !important;
}

aside .dropdown-menu li.active a {
    color: #DB4444 !important;
}

.account_header h6 {
    color: #DB4444;
}
.account_btn button:first-child {
    background: transparent;
    color: #000;
    padding: .5rem;
}
@media screen and (min-width:992px){
    .hero_section .account_wrapper{
        max-width: 54.375rem;
    }
}