/* google fonts cdn link included */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* variable define */
:root,
[data-bs-theme="light"] {
   --bs-primary: #DB4444;
   --bs-secondary: #F5F5F5;
   --bs-success: #08b94f;
   --black-300: rgba(0, 0, 0, 0.3);
   --bs-red: #E07575;
   --bs-white: #FFFFFF;
   --bs-gray-100: #FAFAFA;
   --bs-warning: #FFAD33;
   --bs-gray-dark: #2F2E30;
   --bs-light: #D9D9D9;
   --bs-black: #000000;
   --bs-link-color-rgb: var(--bs-gray-100);
   --bs-link-hover-color-rgb: var(--bs-primary);
   --bs-primary-rgb: 219, 68, 68;
   --blackAlpha500: rgba(0, 0, 0, 0.5);
   /* color */
   --bs-gray-100Alpha500: rgba(255, 255, 255, 0.5);
   --bs-border-color: var(--black-300);
   --bs-border-width: 0.5px;
   --header-text-color: var(--bs-gray-100);
   --body-bg-color: var (--bs-gray-100);
   /* spacing */
   /* font size */
   --heading-1: 3rem;
   --heading-2: 2.25rem;
   --heading-3: 1.5rem;
   --heading-4: 1.25rem;
   --heading-5: 1rem;
   /* typography*/
   --inter-font-family: "Inter", serif;
   --bs-body-font-family: "Poppins", sans-serif;
   --bs-body-color: var(--bs-black);
   --bs-body-line-height: 1.5rem;
   --bs-heading-color: #000000;
   /* navbar */
   --bs-link-color: var(--blackAlpha900);
   --navbar-link-padding-bottom: 0.5rem;
   --spacing-40: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
   --spacing-60: clamp(1.875rem, 1.3393rem + 2.6786vw, 3.75rem);
   --spacing-70: clamp(2.1875rem, 1.5625rem + 3.125vw, 4.375rem);
   --spacing-80: clamp(2.5rem, 1.7857rem + 3.5714vw, 5rem);
   --spacing-140: clamp(4.375rem, 3.125rem + 6.25vw, 8.75rem);
}

/* light mode style end */
/* common style start */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   font-family: var(--inter-font-family);
   font-weight: 600;
}

h1,
.h1 {
   font-size: clamp(2.5rem, 2.3571rem + 0.7143vw, var(--heading-1));
   color: var(--bs-gray-100);
   line-height: 3.75rem;
}

h1,
h2,
.h1,
.h2 {
   letter-spacing: 0.04em;
}

h2,
.h2 {
   line-height: 3rem;
   font-size: clamp(1.5rem, 1.2857rem + 1.0714vw, var(--heading-2));
}

h3,
.h3 {
   font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, var(--heading-3));
}

h4,
.h4 {
   font-size: var(--heading-4);
   line-height: 1.75rem;
}

h5,
.h5 {
   font-size: var(--heading-5);
   line-height: 1.5rem;
}

html {
   scroll-behavior: smooth;
}

img {
   object-fit: cover;
}

a {
   text-decoration: none;
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/* cusomize container aria */
@media (min-width: 1200px) {
   .container {
      max-width: 1194px;
   }
}

/* customize button  */

.btn {
   --bs-btn-padding-x: clamp(1rem, 0.4286rem + 2.8571vw, 3rem);
   --bs-btn-padding-y: 1rem;
   --bs-btn-border-radius: 0.25rem;
   --bs-btn-font-size: var(--bs-body-font-size);
   --bs-btn-font-weight: 500;
   border: none;
   transition: all linear .3s;
}

.btn-primary {
   --bs-btn-color: var(--bs-gray-100);
   --bs-btn-bg: var(--bs-primary);
   --bs-btn-hover-bg: var(--bs-black);
   --bs-btn-hover-color: var(--bs-gray-100);
   --bs-btn-active-bg: var(--bs-primary);
}

.btn-secondary {
   --bs-btn-bg: var(--bs-success);
   --bs-btn-hover-bg: var(--bs-primary);
}

/* customize card component */

.card {
   --card-border-radius: 0.25rem;
   --bs-card-border-radius: var(--card-border-radius);
   --bs-card-bg: var(--bs-secondary);
   --bs-card-height: 15.625rem;
   --bs-card-title-color: var(--bs-heading-color);
   --bs-card-spacer-y: 0.75rem;
   --bs-card-spacer-x: 0.75rem;
   padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
   cursor: pointer;
   min-height: var(--bs-card-height);
   transition: all linear .3s;
}

.card-title {
   --bs-card-title-spacer-y: 0.5rem;
   font-weight: 500;
   font-family: var(--bs-body-font-family);
}

.g-5:has(.card) {
   --bs-gutter-y: 1.875rem;
   --bs-gutter-x: 1.875rem;

}

.discoun {
   top: .75rem;
   left: .75rem;
   border-radius: 0.25rem;
   padding-left: .75rem;
   padding-right: .75rem;
   color: var(--bs-gray-100);
}

.discoun-primary {
   background: var(--bs-primary);
}

.discoun-secondary {
   background: var(--bs-success);
}

.discoun p {
   font-size: 0.75rem;
   margin-bottom: 0;
}

.wished_icon {
   top: 0.75rem;
   right: 0.75rem;
}

.wished_icon .icons,
.wished_icon button {
   width: 2.125rem;
   height: 2.125rem;
   background: var(--bs-white);
   transition: all linear .3s;
   border-radius: 50%;
}

.wished_icon .icons i,
.wished_icon button i {
   font-size: 1.125rem;
   color: var(--blackAlpha900);
   transition: all linear .3s;
}

.wished_icon .icons:hover,
.wished_icon button:hover {
   background: var(--bs-primary);
}

.wished_icon .icons:hover,
.wished_icon button:hover svg,
.wished_icon .icons:hover,
.wished_icon button:hover i {
   color: var(--bs-gray-100);
   fill: var(--bs-gray-100);
}

.add_to_cart {
   display: none;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: var(--bs-black);
   height: 0;
   overflow: hidden;
   text-decoration: none;
   color: var(--bs-gray-100);
   font-size: var(--bs-body-font-size);
   transition: all linear .3s;
   z-index: 999;
}

.card:hover .add_to_cart {
   display: block;
   height: 2.563rem;
}

/* .card:hover .card_img img {
   transform: ;
} */

.price_details span {
   font-size: var(--bs-body-font-size);
   line-height: 1.5rem;
}

.price_details span:first-child {
   color: var(--bs-primary);
}

.price_details span:last-child {
   color: var(--blackAlpha500);
   text-decoration: line-through;
}

.review i {
   color: #FFAD33;
   font-size: var(--font-size-14);
}

.review span {
   color: var(--blackAlpha500);
   font-size: var(--font-size-14);
   line-height: var(--line-height-base);
}

/*common header section  */

/* header part start */
header .header {
   padding-block: 0.938rem;
   font-size: 0.875rem;
   color: var(--bs-gray-100);
   line-height: 1.313rem;
}

header .header a {
   line-height: var(--bs-body-line-height);
}

header .header .select_box {
   position: absolute;
}

.form-select {
   width: 4.875rem;
   padding: 0 0.688rem 0 0;
   font-size: var(--font-size-14);
   line-height: var(--line-height-base);
   color: var(--bs-gray-100);
   border: none;
   -webkit-appearance: auto;
   -moz-appearance: auto;
   appearance: auto;
   background-image: none;
}

.header .select_box .form-select:focus {
   box-shadow: none;
}

.header .select_box option {
   color: var(--blackAlpha900);
}

header .navbar {
   --navbar-padding-top: 2rem;
   --bs-navbar-padding-x: 0;
   --bs-navbar-padding-y: 0.688rem;
   --bs-navbar-brand-padding-y: 0;
   --bs-navbar-brand-margin-end: 0;
   --bs-navbar-brand-color: var(--bs-black);
   --bs-navbar-brand-font-size: 1.5rem;
   padding: var(--navbar-padding-top) var(--bs-navbar-padding-x) var(--bs-navbar-padding-y);
}

header .navbar-nav {
   --bs-nav-link-padding-x: 0.5rem;
   --bs-nav-link-padding-y: var(--navbar-link-padding-bottom);
   --bs-nav-link-font-weight: 400;
   --bs-nav-link-color: var(--bs-body-color);
   --bs-nav-link-hover-color: rgba(var(--bs-body-color), 0.5);
   gap: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
}

.nav-link {
   --bs-nav-link-font-size: 1rem;
}

.navigation_bar {
   background: var(--bs-gray-100);
}

.navigation_bar .navbar-brand {
   letter-spacing: 0.03em;
   font-family: var(--inter-font-family);
}

.navigation_bar .navbar-nav li a {
   transition: all linear .3s;
   position: relative;
}

.navigation_bar .navbar-nav li a::before {
   position: absolute;
   content: "";
   width: 0%;
   height: 1px;
   background: var(--blackAlpha500);
   bottom: var(--navbar-link-padding-bottom);
   left: var(--navbar-link-padding-bottom);
   right: var(--navbar-link-padding-bottom);
   transition: all linear .3s;
}

.navigation_bar .navbar-nav li a:hover {
   color: var(--bs-primary);
}

.navigation_bar .navbar-nav li a:hover::before {
   width: calc(100% - var(--navbar-link-padding-bottom));
}

.navigation_bar .navbar-nav li a.active::before {
   width: calc(100% - var(--navbar-link-padding-bottom));
}

.nav_form {
   width: 100%;
   max-width: 243px;
   padding-block: 0.438rem;
   padding-inline: 1.25rem 0.75rem;
   background: var(--bs-secondary);
   border-radius: 0.25rem;
}

.nav_form .form-control {
   padding: 0;
   background-color: transparent;
}


.navigation_bar .form-control {
   border: none;
}

.navigation_bar .form-control:focus {
   box-shadow: none;
}

.navigation_bar .form-control[placeholder] {
   line-height: 1.125rem;
   font-size: 0.75rem;
   color: var(--blackAlpha500);
}

.navigation_bar .search_btn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   padding: 0.25rem;
}

.navigation_bar .search_btn .search-icon {
   font-size: 1.5rem;
}

.navigation_bar .shoping {
   margin-left: 1.5rem;
}

.navigation_bar .shoping a,
.navigation_bar .shoping button {
   --size:2rem;
   width: var(--size);
   height: var(--size);
}

.navigation_bar .shoping a i,
.navigation_bar .shoping button i {
   font-size: 1.5rem;
}

.navigation_bar .wished_btn::before {
   position: absolute;
   content: "4";
   width: 1rem;
   height: 1rem;
   border-radius: 50%;
   background: var(--bs-primary);
   right: 0;
   top: 0;
   font-size: 0.75rem;
   line-height: 18px;
   font-weight: 400;
   color: var(--bs-gray-100);
}

.navigation_bar .dropstart .dropdown-toggle::before {
   display: none;
}

.navigation_bar .shoping .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
   color: var(--bs-btn-active-color);
   background-color: var(--bs-primary);
   border-color: transparent;
}

.navigation_bar .shoping .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active i {
   color: var(--bs-gray-100);
}

.navigation_bar .dropdown-menu {
   --bs-dropdown-font-size: 0.875rem;
   --bs-dropdown-min-width: 14.063rem;
   max-width: 225px;
   padding: 1.125rem 0.75rem 0.625rem 1.25rem;
   position: absolute;
   background: rgba(0, 0, 0, 0.04);
   backdrop-filter: blur(150px);
}

.navigation_bar .dropdown-menu a {
   width: 100%;
}

.navigation_bar .dropdown-menu svg {
   width: 1.5rem;
   height: 1.5rem;
}

.navigation_bar .dropdown-menu li {
   margin-bottom: 13px;
}

.navigation_bar .dropdown-menu span {
   line-height: 1.313rem;
   color: var(--bs-gray-100);
}


.navigation_bar .dropdown-menu li:last-child {
   margin-bottom: 0;
}

.navbar-collapse.show {
   height: calc(100vh - 12.875rem);
}

.shoping .dropdown-toggle::before {
   display: none;
}

.menu {
   /* --size:100px; */
   --rotate: 45deg;
   width: var(--size);
   height: var(--size);
   background-color: green;
}

.menu .toggler {
   --toggler-size: 75px;
   width: calc(var(--size) / 2);
   height: calc(var(--size) / 2);
   background-color: red;
   border-radius: calc(var(--size) / 4);
   transition: .3s;
}

.menu li {
   position: absolute;
   transform-origin: calc(var(--size) / 2);
   left: 0;
   bottom: 0;
   transition: .3s;
   list-style: none;
}

.menu.active .toggler {
   transform: rotate(360deg);
}

.menu.active li {
   transform: rotate(calc(var(--rotate) / 5 * var(--i)));
}

/* aside bar */
.hero_section .aside-button {
   border: none;
   background-color: transparent;
   margin-bottom: var(--section-padding-top);
}

.hero_section aside {
   width: var(--aside-width);
}

/* breadcrump */
.breadcrumb {
   --gap: 1.5rem;
   --bs-breadcrumb-item-active-color: var(--bs-black);
   --bs-breadcrumb-margin-bottom: 0;
   --bs-breadcrumb-font-size: 0.875rem;
   --bs-breadcrumb-divider-color: rgba(0, 0, 0, 0.5);
   --bs-breadcrumb-item-padding-x: 0;
   line-height: 1.313rem;
   gap: var(--gap);
}

.breadcrumb-item {
   position: relative;
}

.breadcrumb-item+.breadcrumb-item::before {
   position: absolute;
   content: var(--bs-breadcrumb-divider, "");
   width: 1px;
   height: 0.813rem;
   background-color: var(--bs-breadcrumb-divider-color);
   top: 50%;
   transform: translateY(-50%) rotate(-147.05deg);
   left: calc((var(--gap) / 2) * -1);

}

.breadcrumb-section {
   padding-block: var(--spacing-80);
}

.breadcrumb-section li {
   text-transform: capitalize;
   color: rgba(0, 0, 0, 0.5);
}

/* common footer part */
.footer .footer_wrapper {
   gap: clamp(1.5625rem, 1.1161rem + 2.2321vw, 3.125rem);
   grid-template-columns: repeat(auto-fit, minmax(10.25rem, 1fr));
}

.footer {
   padding-top: clamp(2.5rem, 5.3571rem, 5rem);
   padding-bottom: 1.5rem;
   background: var(--blackAlpha900);
}

.footer_item h2 {
   color: var(--bs-gray-100);
}

.footer_item h2:has(+h4) {
   margin-bottom: 1.5rem;
}

.footer_item h4 {
   color: var(--bs-gray-100);
}

.footer_item a {
   text-decoration: none;
   color: var(--bs-gray-100);
}

.footer_item a:has(+a),
.footer_item a:has(+div) {
   margin-bottom: 1rem;
}

.footer_item span {
   font-size: 0.75rem;
   color: rgba(255, 255, 255, 0.7);
}

.footer_item input {
   padding: 12px 16px;
   font-size: var(--bs-body-font-size);;
   border: 1.5px solid var(--bs-gray-100);
   background: var(--blackAlpha900);
}

.footer_item input[placeholder] {
   color: rgba(255, 255, 255, 0.4);
}

.footer_item:focus-visible {
   outline: none;
}

.footer_item form button {
   top: 50%;
   bottom: 50%;
   right: 16px;
   transform: translateY(-50%);
}

.footer .drivider {
   margin-top: var(--spacing-60);
   margin-bottom: 1rem;
}

.footer .drivider .drivider-border {
   border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
   color: rgba(255, 255, 255, 0.6);
}

.footer .copyright span {
   margin-right: 2px;
}

.footer_item .footer_social_icon a {
   margin-bottom: 0;
}


.form-control {
   height: 3.125rem;
   border-radius: 0.25rem;
   border: none;
   background-color: var(--bs-secondary);
}

.form-control:focus {
   box-shadow: 0 0 0 .25rem rgb(219, 68, 68);
}


.select-color {
   margin-top: 0.5rem;
}

.select-color .select-color-item {
   width: 1.25rem;
   height: 1.25rem;
}

.select-color-item input,
.select-color-item .output-color {
   width: 100%;
   height: 100%;
}

.select-color-item .output-color {
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   background-color: var(--bs-primary);
   z-index: 99;
   pointer-events: none;
}

.select-color-item input {
   border: none;
}

.select-color-item input:checked+.output-color {
   border: 2px solid var(--bs-black);
   background-color: var(--bs-white);
}

.select-color-item input:checked+.output-color::before {
   content: "";
   position: absolute;
   background-color: var(--bs-primary);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 0.75rem;
   height: 0.75rem;
   border-radius: 50%;
}




@media only screen and (max-width: 991px) {
   .hero_section aside {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: 9;
   }

   .hero_section aside.show {
      opacity: 1;
      visibility: visible;
      padding: 1.5rem;
      left: -1rem;
      right: 0;
      width: auto !important;
      top: 0;
      height: 100vh;
      overflow-y: auto;
   }
}