.hero_section {
    padding-bottom: var(--spacing-140);
}

.box-shadow {
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}

.contact_info {
    padding: 2.5rem 2.188rem 3.125rem;
    gap: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
}

.contact_info .address {
    gap: 1.5rem;
}

.address span,
.address a {
    font-size: 0.875rem;
    line-height: 1.313rem;
}

.hero_section .row.g-4 {
    --bs-gutter-y: 1.875rem;
    --bs-gutter-x: 1.875rem;
}


.phone_icon {
    width: 2.5rem;
    aspect-ratio: 1/1;
    background: var(--bs-primary);
    color: var(--bs-white);
}

.phone_icon i {
    font-size: 1.25rem;
}

.contact_form {
    padding: 2.5rem 2rem;
}