.hero_section .row.g-4 {
    --bs-gutter-y: 1.875rem;
    --bs-gutter-x: 1.875rem;
}

.selected_item {
    background: var(--bs-secondary);
    height: 8.625rem;
    width: 100%;
}

.main_product {
    background: var(--bs-secondary);
    height: 37.5rem;
    padding: 1.688rem;
}

.delivery_item span,
.delivery_item a {
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.delivery_widger.border {
    border-color: rgba(0, 0, 0, 0.5) !important;
}

.horizontal-row {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.delivery_item {
    padding: 1.5rem 1rem 1rem;
}

.delivery_item:last-child {
    padding: 1rem 1rem 1.5rem;
}

.product_details h1 {
    line-height: 1.5rem;
}

.review_product i {
    color: #FFAD33;
}

.review_product i:last-of-type {
    color: rgba(0, 0, 0, 0.25);
}

.review_product span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.875rem;
    line-height: 1.313rem;
}

.review_product .green_color {
    color: rgba(0, 255, 102, 0.6);
}

.review_product .green_color::after {
    position: absolute;
    content: "|";
    left: 0;
    color: rgba(0, 0, 0, 0.5);
}

.price_and_details h3 {
    line-height: 1.5rem;
    letter-spacing: .03em;
}

.price_and_details p {
    font-size: 0.875rem;
    line-height: 1.313rem;
}

.color_select h4 {
    line-height: 1.25rem;
    letter-spacing: .03em;
}

.select-color-item input:checked+.output-color::before {
    background-color: #A0BCE0;
}

.size h4 {
    line-height: 1.25rem;
    letter-spacing: .03em;
}

.size input {
    width: 2rem;
    aspect-ratio: 1 / 1;
}

.size label {
    width: 2rem;
    aspect-ratio: 1 / 1;
    background: var(--bs-gray-100Alpha900);
    font-size: var(--font-size-14);
    font-weight: 500;
    line-height: var(--line-height-21);
    text-transform: uppercase;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.size input[type="radio"]:checked+label {
    background-color: #DB4444;
    border-color: #DB4444 !important;
    color: #fff;
}

input[type="radio"i] {
    appearance: none;
}

.buy_product .total_items {
    width: 8rem;
}

.buy_product input[type="number"] {
    width: 4rem;
    border: none;
}

.buy_product button {
    padding: 0.625rem 0.5rem;
    outline: none;
    border: none;
    border-right: 1px solid var(--blackAlpha500);
    background-color: #fff;
}

.buy_product button:last-child {
    border-left: 1px solid var(--blackAlpha500);
    border-right: none;
    background-color: #DB4444;
    color: #fff;
}

.buy_product a {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.love input {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    appearance: none;
}

.love label {
    left: 0;
    top: 0;
    background: #fff;
    cursor: pointer;
}

.love label i {
    font-size: 30px;
}

.love input[type="checkbox"]:checked+label {
    background-color: #DB4444;
    border-color: #DB4444 !important;
    color: #fff;
}

.best_selling_product {
    padding-block: var(--spacing-140);
}

@media screen and (min-width:992px) {
    .product_details {
        padding-left: 2.5rem;
    }
}