.account_heading {
    margin-bottom: 5rem;
}

.selected_item {
    background: #F5F5F5;
    height: 8.625rem;
}

.main_product {
    background: #F5F5F5;
    height: 37.5rem;
    padding: 9.625rem 1.688rem 8.188rem;

    img {
        object-fit: cover;
        max-width: 100%;
    }
}

.delivery_item {
    max-width: 24.938rem;
    padding: 1.5rem 1rem 1rem;

    h5 {
        font-size: var(--font-size-16);
        line-height: var(--line-height-24);
    }

    a,
    p {
        font-size: var(--font-size-12);
        line-height: 1.125rem;
        color: var(--blackAlpha900);
    }

    a {
        text-decoration: underline;
    }
}

.delivery_item:last-child {
    padding: 1rem 1rem 1.5rem;
}

.product_details {
    h1 {
        font-size: var(--font-size-24);
        line-height: var(--line-height-24);
    }
}

.review_product {
    i {
        color: #FFAD33;

        &:last-of-type {
            color: rgba(0, 0, 0, 0.25);
        }

    }

    span {
        color: rgba(0, 0, 0, 0.5);
    }

    .green_color {
        color: #00FF66;

        &::after {
            position: absolute;
            content: "|";
            left: 0;
            color: rgba(0, 0, 0, 0.5);
        }
    }
}

.price_and_details {
    span {
        font-size: var(--font-size-24);
        line-height: var(--line-height-24);
        letter-spacing: .03em;
    }

    p {
        font-size: var(--font-size-14);
        line-height: var(--line-height-21);
    }
}

.color_select {
    p {
        font-size: var(--font-size-20);
        line-height: 1.25rem;
        letter-spacing: .03em;
    }

    input {
        width: 1.25rem;
        aspect-ratio: 1 / 1;
    }

    label {
        width: 1.25rem;
        aspect-ratio: 1 / 1;
        background: #000;
        top: 50%;
        right: 0;
        cursor: pointer;
        transform: translateY(-50%);
        z-index: 99;

        &::after {
            position: absolute;
            content: "";
            width: 0.875rem;
            aspect-ratio: 1 / 1;
            background: #A0BCE0;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            border: 2px solid #fff;
            transform: translate(-50%, -50%);
        }
    }

    input[type="radio"]:checked+label {
        background-color: #E07575;

        &::after {
            background: #E07575;
            border-color: #E07575;
        }
    }
}

.size {
    p {
        font-size: var(--font-size-20);
        line-height: 1.25rem;
        letter-spacing: .03em;
    }

    input {
        width: 2rem;
        aspect-ratio: 1 / 1;
    }

    label {
        width: 2rem;
        aspect-ratio: 1 / 1;
        background: var(--whiteAlpha900);
        font-size: var(--font-size-14);
        font-weight: 500;
        line-height: var(--line-height-21);
        text-transform: uppercase;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input[type="radio"]:checked+label {
        background-color: #DB4444;
        border-color: #DB4444 !important;
        color: #fff;
    }
}

.buy_product {
    .total_items {
        width: 8rem;

        input[type="number"] {
            width: 4rem;
            border: none;
        }

        button {
            padding: 0.625rem 0.5rem;
            outline: none;
            border: none;
            border-right: 1px solid var(--blackAlpha500);
            background-color: #fff;

            &:last-child {
                border-left: 1px solid var(--blackAlpha500);
                border-right: none;
                background-color: #DB4444;
                color: #fff;
            }
        }
    }
}

.buy_product a {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.love {
    input {
        width: 2.5rem;
        aspect-ratio: 1 / 1;
        appearance: none;
    }

    label {
        left: 0;
        top: 0;
        background: #fff;
        cursor: pointer;

        i {
            font-size: 30px;
        }
    }

    input[type="checkbox"]:checked+label {
        background-color: #DB4444;
        border-color: #DB4444 !important;
        color: #fff;
    }
}

@media only screen and (min-width:320px) and (max-width:578px) {
    .delivery_widger {
        position: relative !important;
    }
}