/* google fonts cdn link included */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variable define */

:root,
[data-bs-theme="light"] {

    /* color */

    --blackAlpha900: rgb(0, 0, 0);
    --blackAlpha500: rgba(0, 0, 0, 0.5);
    --whiteAlpha900: rgb(255, 255, 255);
    --whiteAlpha500: rgba(255, 255, 255, 0.5);
    --secondary: #F5F5F5;
    --red: #DB4444;
    --green: #00FF66;
    --bs-secondary-rgb: 0, 0, 0;
    --bs-border-color: rgba(0, 0, 0, 0.3);
    --bs-border-width: 0.5px;
    --header-text-color: var(--whiteAlpha900);
    --body-bg-color: var (--whiteAlpha900);

    /* spacing */
    --space-1-5: .094rem;
    --space-5: .313rem;
    --space-7: .438rem;
    --space-11: .688rem;
    --space-12: .75rem;
    --space-20: 1.25rem;
    --space-22: 1.375rem;
    --space-24: 1.5rem;
    --space-29: 1.813rem;
    --space-35: 2.188rem;
    --space-40: 2.5rem;
    --space-45: 2.813rem;
    --space-46: 2.875rem;
    --space-48: 3rem;
    --space-58: 3.625rem;
    --space-64: 4rem;
    --space-231: 14.438rem;

    /* font size */
    --font-size-12: .75rem;
    --font-size-14: .875rem;
    --font-size-16: 1rem;
    --font-size-24: 1.5rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-40: 2.5rem;
    --font-size-48: 3rem;

    /* line height */
    --line-height-21: 1.313rem;
    --line-height-24: 1.5rem;

    /* size */
    --size-32: 2rem;
}

/* light mode style end */

/* dark mode style start */

[data-bs-theme="dark"] {
    --header-text-color: var(--whiteAlpha900);
    --body-bg-color: var (--blackAlpha900);
}

/* dark mode style end */

/* common style start */

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

body {
    color: var(--body-bg-color);
}

html {
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

/* common style end */

/* custom css start */

@media (min-width: 1200px) {
    .container {
        max-width: 1194px;
    }
}

.border {
    border: 0.5px var(--bs-border-style) var(--bs-border-color) !important;
}

.btn-primary {
    padding: 16px var(--space-48);
    --bs-btn-bg: var(--red);
    border: none;
    border-radius: 4px;
    color: var(--whiteAlpha900);
    font-size: var(--font-size-16);
    font-weight: 500;
    transition: all linear .3s;

    &:hover {
        --bs-btn-hover-bg: var(--blackAlpha900);
    }
}


/* custom css end */

/* header part start */

header {
    z-index: 99999;

    .header {
        font-size: var(--font-size-14);
        line-height: var(--line-height-21);
        color: var(--header-text-color);

        a {
            line-height: var(--line-height-24);
            color: var(--whiteAlpha900);
        }

        .select_box {
            position: relative;

            &::after {
                position: absolute;
                content: "\f078";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 999;
                pointer-events: none;
            }

            .form-select {
                width: 78px;
                padding: var(--space-1-5) var(--space-29) var(--space-1-5) 0;
                font-size: var(--font-size-14);
                line-height: var(--line-height-21);
                color: var(--whiteAlpha900);
                border: none;
                background-image: none;
                appearance: none;

                &:focus {
                    box-shadow: none;
                }
            }

            option {
                color: var(--blackAlpha900);
            }
        }
    }
}

.navigation_bar {
    background: var(--whiteAlpha900);

    .navbar {
        .navbar-brand {
            font-size: var(--font-size-24);
        }

        .collapse {
            .navbar-nav {
                li {
                    margin-right: var(--space-48);

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font-size: var(--font-size-16);
                        color: var(--blackAlpha900);
                        transition: all linear .3s;
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 0%;
                            height: 1px;
                            background: var(--blackAlpha500);
                            bottom: 0;
                            left: 0;
                            transition: all linear .3s;
                        }

                        &:hover {
                            color: var(--red);

                            &::before {
                                width: 100%;
                            }
                        }

                        &.active {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .form-control {
                max-width: 243px;
                width: 100%;
                padding: var(--space-7) var(--space-46) var(--space-7) var(--space-20);
                border: none;
                background: var(--secondary);

                &:focus {
                    box-shadow: none;
                }

                &::placeholder {
                    font-weight: 400;
                    font-size: var(--font-size-12);
                    color: var(--blackAlpha500);
                }
            }

            button {
                right: var(--space-12);

                .search-icon {
                    font-size: var(--font-size-24);
                }
            }

            .shoping {
                margin-left: var(--space-24);

                button {
                    width: var(--size-32);
                    height: var(--size-32);
                    /* background: red; */

                    &:last-child {
                        display: none !important;
                    }

                    i {
                        font-size: var(--font-size-24);
                    }
                }
            }
        }
    }
}

/* header part end */

/* hero part start */

.hero_section {
    padding-bottom: 140px;
    padding-top: 5px;

    aside {
        padding-top: var(--space-40);
        max-width: 233px;
        width: 100%;

        ul {
            li {
                a {
                    font-size: var(--font-size-16);
                    color: var(--blackAlpha900);
                    transition: all linear .3s;

                    &:hover {
                        color: var(--red);
                    }

                    &:focus {
                        color: var(--red);
                    }

                    &::after {
                        display: none;
                    }

                    &.show {
                        i {
                            transform: rotate(90deg);
                        }
                    }
                }

                .dropdown-menu {
                    inset: 16px auto 0 0px !important;
                    transform: none !important;

                    li {
                        a {
                            &:hover {
                                background: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* main part start */
main {
    padding-top: var(--space-40);
    padding-left: var(--space-45);

    .slider_img {
        .carousel-inner {
            .carousel-item {
                gap: 38px;

                .carosel_content {
                    padding: var(--space-58) 0 var(--space-46) var(--space-64);

                    p {
                        margin-bottom: var(--space-20);

                        i {
                            font-size: 53px;
                            margin-right: var(--space-24);
                        }

                        span {
                            font-size: var(--font-size-16);
                            line-height: var(--line-height-24);
                        }
                    }

                    h1 {
                        font-size: var(--font-size-48);
                        line-height: 60px;
                        margin-bottom: var(--space-22);
                    }

                    a {
                        font-size: var(--font-size-16);

                        &:hover {
                            span {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }

                        span {
                            margin-right: var(--space-11);

                            &::after {
                                position: absolute;
                                content: "";
                                width: 0%;
                                height: 1px;
                                background: var(--whiteAlpha900);
                                bottom: -4px;
                                left: 0;
                                transition: all linear .3s;
                            }
                        }
                    }
                }
            }
        }

        .carousel-indicators {
            bottom: 15px;

            button {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: none;
                background: var(--whiteAlpha500);
                margin: 0;

                &.active {
                    width: 10px;
                    height: 10px;
                    background: var(--red);
                    border: 2px solid var(--whiteAlpha900);
                }
            }
        }
    }
}

/* main part end */

/* product part start */

.days {
    span {
        color: var(--red);
        font-size: var(--font-size-16);

        &:first-child {
            width: 20px;
            height: 40px;
            background: var(--red);
            border-radius: 4px;
        }
    }
}

.product_title_left {
    h2 {
        font-size: var(--font-size-36);
        margin-right: 87px;
    }
}

.counter {
    gap: 38px;

    .counter_item {
        p {
            font-size: var(--font-size-12);
        }

        span {
            font-size: var(--font-size-32);

            &::after {
                position: absolute;
                content: ":";
                top: 50%;
                right: -16px;
                transform: translateY(-50%);
                color: var(--red);
                font-size: var(--font-size-14);
            }
        }

        &:last-child {
            span {
                &::after {
                    display: none;
                }
            }
        }
    }
}

.product_right {
    button {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: var(--secondary);
        border: none;
        transition: all linear .3s;

        &:hover {
            background: var(--blackAlpha900);

            i {
                color: var(--whiteAlpha900);
            }
        }

        i {
            font-size: var(--font-size-16);
            transition: all linear .3s;
        }
    }
}

.product_card {
    padding-top: var(--space-40);
    padding-bottom: 80px;
}

.card {
    padding: var(--space-35) var(--space-40);
    background: var(--secondary) no-repeat center/cover;
    min-height: 250px;
    cursor: pointer;

    &:hover {
        .add_to_cart {
            display: block;
            height: 41px;
        }
    }
}

.discoun {
    top: var(--space-12);
    left: var(--space-12);

    p {
        padding-left: var(--space-12);
        padding-right: var(--space-12);
        background: var(--red);
        color: var(--whiteAlpha900);
        font-size: var(--font-size-12);
        transition: all linear .3s;

        &:hover {
            background: var(--blackAlpha900);
            color: var(--whiteAlpha900);
        }
    }
}

.wished_icon {
    top: var(--space-12);
    right: var(--space-12);

    .icons {
        width: 34px;
        height: 34px;
        background: var(--whiteAlpha900);
        transition: all linear .3s;

        &:hover {
            background: var(--blackAlpha900);

            i {
                color: var(--whiteAlpha900);
            }
        }

        i {
            font-size: var(--font-size-16);
            color: var(--blackAlpha900);
            transition: all linear .3s;
        }
    }
}

.add_to_cart {
    transition: all linear .3s;
    display: none;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--blackAlpha900);
    height: 0;
    overflow: hidden;
    text-decoration: none;

    p {
        color: var(--whiteAlpha900);
        font-size: var(--font-size-16);
    }
}

.price_details {
    span {
        font-size: var(--font-size-16);
        line-height: var(--line-height-24);

        &:first-child {
            color: var(--red);
        }

        &:last-child {
            color: var(--blackAlpha500);
            text-decoration: line-through;
        }
    }
}

.review {
    i {
        color: #FFAD33;
        font-size: var(--font-size-14);
    }

    span {
        color: var(--blackAlpha500);
        font-size: var(--font-size-14);
        line-height: var(--line-height-21);
    }
}

.view_product {
    margin-top: 66px;
    margin-bottom: 60px;
}

.drivider {
    hr {
        height: 0.5px;
        color: rgba(0, 0, 0, 0.3);
    }
}

/* product part end */
/* category part start */
.category_wrapper {
    padding-top: 60px;
    padding-bottom: 70px;

    .category_item {
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: var(--space-24);
        cursor: pointer;
        transition: all linear .3s;

        &:hover {
            background: var(--red);

            p {
                color: var(--whiteAlpha900);
            }

            i {
                color: var(--whiteAlpha900);
            }

            svg {
                color: var(--whiteAlpha900);
            }
        }

        p {
            font-size: var(--font-size-16);
            color: var(--blackAlpha900);
            transition: all linear .3s;
        }

        i {
            font-size: 56px;
            transition: all linear .3s;
        }

        svg {
            width: 56px;
            height: 56px;
            transition: all linear .3s;
        }
    }
}

/* category part end */
/* best selling product part start */
.best_selling_product {
    padding-top: 70px;
    padding-bottom: 140px;

    .selling_product {
        padding-top: 60px;
    }
}

/* best selling product part end */
/* category part start */
.categori {
    padding-bottom: 71px;

    .categori_banner {
        background: var(--blackAlpha900) no-repeat center/cover;
        padding: 37px 44px 43px 56px;

        .categori_left {
            padding-top: 32px;
            padding-bottom: 26px;

            >p {
                font-size: var(--font-size-16);
                line-height: 20px;
                color: var(--green);
            }

            h2 {
                font-size: var(--font-size-48);
                line-height: 60px;
            }

            .counter {
                gap: 24px;
                margin-bottom: 40px;

                .counter_item {
                    width: 62px;
                    height: 62px;
                    padding: 14px 7px;
                    background: var(--whiteAlpha900);

                    span {
                        font-size: var(--font-size-16);
                        line-height: 20px;

                        &::after {
                            display: none;
                        }
                    }

                    p {
                        font-size: 11px;
                        line-height: 18px;
                    }
                }
            }

            .btn-primary {
                --bs-btn-bg: var(--green);

                &:hover {
                    --bs-btn-hover-bg: var(--red);
                }
            }
        }

        .categori_right {
            position: relative;
            z-index: 1;

            &::before {
                position: absolute;
                content: "";
                width: 500px;
                height: 500px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #D9D9D9;
                opacity: 0.3;
                filter: blur(100px);
                z-index: -1;
            }
        }
    }
}

/* category part end */
/* explore part start */
.explore_product {
    .explore_product_wrapper {
        padding-top: 60px;
        padding-bottom: 140px;

        .row {
            --bs-gutter-y: 60px;
        }

        .discoun {
            p {

                background: var(--green);
            }
        }

        .price_details {
            span {
                text-decoration: none;
            }
        }

        .color_change {
            .color_item {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: var(--blackAlpha900);
                z-index: 9;

                &::before {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 2px solid var(--whiteAlpha900);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: var(--red);
                    z-index: -1;
                }

                &:last-child {
                    width: 20px;
                    height: 20px;
                    background: var(--red);

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}


/* explore part end */
/* new arrival part start */
.arrival_wrapper {
    padding-top: 60px;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.875rem;
    grid-template-areas: "l l l l l l r r r r r r"
        "l l l l l l rl rl rl rr rr rr";

    &>div {
        background: var(--blackAlpha900) no-repeat center/cover;
    }

    .arrival_content {
        left: 32px;
        bottom: 30px;

        h4 {
            color: var(--whiteAlpha900);
            font-size: var(--font-size-24);
            line-height: var(--line-height-24);
            letter-spacing: 3%;
        }

        p {
            max-width: 255px;
            width: 100%;
            font-size: var(--font-size-14);
            line-height: var(--line-height-21);
            color: var(--whiteAlpha900);
        }

        a {
            font-size: var(--font-size-16);
            line-height: var(--line-height-24);
            color: var(--whiteAlpha900);
            text-decoration: none;
            transition: all linear .3s;
            position: relative;

            &:hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                position: absolute;
                content: "";
                width: 0;
                height: 1px;
                color: var(--whiteAlpha900);
                background: var(--whiteAlpha900);
                bottom: 0;
                left: 0;
                transition: all linear .3s;
                z-index: 2;
            }
        }
    }

    .arrival_item1 {
        grid-area: l;
        padding: 90px 30px 0;
    }

    .arrival_item2 {
        background: #0D0D0D;
        grid-area: r;
    }

    .arrival_item3 {
        grid-area: rl;
    }

    .arrival_item4 {
        grid-area: rr;
    }
}

.new_arrival {
    padding-bottom: 140px;
}

/* new arrival part end */
/* delivery part start */
.delivery {
    padding: 140px 0;
}

.delivery_item {

    .delivery_img {
        padding: 9px;
        background: var(--blackAlpha900);
        border-radius: 50%;
        border: 22px solid #C1C0C1;
    }

    .delivery_content {
        h5 {
            font-size: 20px;
            line-height: 28px;
            color: var(--blackAlpha900);
        }

        p {
            font-size: var(--font-size-14);
            line-height: var(--line-height-21);
            color: var(--blackAlpha900);
        }
    }
}

/* delivery part end */
/* footer part start */
.footer {
    padding: 80px 0 24px;
    background: var(--blackAlpha900);

    .footer_wrapper {
        gap: 2rem;
        padding-bottom: 60px;
        grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));

        .footer_item {
            h2 {
                font-size: var(--font-size-24);
                line-height: var(--line-height-24);
                letter-spacing: 3%;
            }

            h4 {
                font-size: 20px;
                line-height: 28px;
            }

            p {
                font-size: var(--font-size-16);
                line-height: var(--line-height-24);
            }

            a {
                text-decoration: none;
                font-size: var(--font-size-16);
                line-height: var(--line-height-24);
                color: var(--whiteAlpha900);
            }

            span {
                font-size: var(--font-size-12);
                color: rgba(255, 255, 255, 0.7);
            }

            input {
                padding: 12px 16px;
                color: var(--blackAlpha900);
                font-size: var(--font-size-16);
                border: 1.5px solid var(--whiteAlpha900);
                background: var(--blackAlpha900);

                &[placeholder] {
                    font-weight: 400;
                    font-size: var(--font-size-16);
                    color: rgba(255, 255, 255, 0.4);

                }

                &:focus-visible {
                    outline: none;
                }
            }

            button {
                top: 50%;
                bottom: 50%;
                right: 16px;
                transform: translateY(-50%);
            }
        }
    }

    .drivider {
        hr {
            background: rgba(255, 255, 255, 0.4);
        }
    }
}

/* footer part end */
/* responsive css start */
@media only screen and (min-width:769px) {
    aside {
        display: block !important;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .navbar {
        .navbar-nav {
            text-align: center;

            .nav-item {
                margin-bottom: .875rem;
                margin-right: 0 !important;

                .nav-link {
                    display: inline-block;
                }
            }
        }

        .shoping {
            margin-left: 0 !important;
        }
    }

    .wrapper {
        .collapse_btn_aside {
            display: block !important;
        }
    }

    aside {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100% !important;
        height: 100vh;
        z-index: 999;
        border-right: none !important;
        transition: all linear .3s;
    }

    .hero_section {
        padding-bottom: 50px;
        padding-top: 5px;
    }

    main {
        padding-left: 0;

        & .slider_img {
            & .carousel-inner {
                & .carousel-item {
                    & .carosel_content {
                        padding: 20px;

                        p {
                            margin-bottom: 18px;

                            i {
                                font-size: var(--font-size-24);

                            }

                            span {
                                font-size: var(--font-size-14);
                            }
                        }

                        h1 {
                            font-size: var(--font-size-24);
                            line-height: 30px;
                            margin-bottom: var(--space-12);
                        }

                        a {
                            font-size: var(--font-size-14);
                        }
                    }
                }
            }
        }
    }

    .product_title_left {
        h2 {
            font-size: 20px;
            margin-right: 0px;
        }
    }

    .counter {
        & .counter_item {
            & span {
                font-size: var(--font-size-14);
            }
        }
    }

    .product_right {
        & button {
            & i {
                font-size: var(--font-size-14);
                transition: all linear .3s;
            }
        }
    }

    .product_right {
        & button {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: var(--secondary);
            border: none;
            transition: all linear .3s;
        }
    }

    .view_product {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .product_card {
        padding-top: 20px;
        padding-bottom: 80px;
    }

    .category_wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .best_selling_product {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .best_selling_product {
        & .selling_product {
            padding-top: 40px;
        }
    }

    .categori {
        & .categori_banner {
            & .categori_left {
                & h2 {
                    font-size: var(--font-size-24);
                    line-height: 40px;
                }
            }
        }
    }

    .categori {
        & .categori_banner {
            & .categori_left {
                & .counter {
                    & .counter_item {
                        width: 50px;
                        height: 50px;
                        padding: 14px 7px;
                        background: var(--whiteAlpha900);
                    }
                }
            }
        }
    }

    .categori {
        & .categori_banner {
            & .categori_left {
                & .counter {
                    gap: 24px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .categori {
        & .categori_banner {
            background: var(--blackAlpha900) no-repeat center/cover;
            padding: 20px;
        }
    }

    .categori {
        padding-bottom: 40px;
    }

    .explore_product {
        & .explore_product_wrapper {
            padding-top: 40px;
            padding-bottom: 60px;
        }
    }

    .new_arrival {
        padding-bottom: 80px;
    }

    .delivery {
        padding: 0px 0 40px;
    }

    .arrival_wrapper {
        grid-template-areas:
            "l l l l l l l  l  l  l  l  l "
            "r r r r r r r r r r r r"
            "rl rl rl rl rl rl rl rl rl rl rl rl"
            "rr rr rr rr rr rr rr rr rr rr rr rr";
    }

}

/* responsive css end */