/* section common title start */

.common {
    margin-bottom: var(--spacing-60);
}

.common .days {
    gap: 0.625rem;
    margin-bottom: 1.25rem;
}

.common .days span {
    color: var(--bs-primary);
    font-size: var(--heading-primary);
}

.common .days span:first-child {
    width: 1.25rem;
    height: 2.5rem;
    background: var(--bs-primary);
    border-radius: 4px;
}

.common .product_title {
    gap: clamp(1.25rem, 0.0536rem + 5.9821vw, 5.4375rem);
}

.counter {
    gap: clamp(1.75rem, 1.5714rem + 0.8929vw, 2.375rem);
}

.counter .counter_item p {
    font-size: var(--font-size-12);
    font-weight: 500;
}

.counter .counter_item span {
    font-weight: 700;
    font-size: clamp(1.875rem, 1.8393rem + 0.1786vw, var(--font-size-32));
}

.counter .counter_item span::after {
    position: absolute;
    content: ":";
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    color: var(--bs-primary);
    font-size: var(--font-size-14);
}

.counter .counter_item:last-child span::after {
    display: none;
}

.product_right button {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    background: var(--bs-secondary);
    border: none;
    transition: all linear .3s;
}

.product_right button:hover {
    background: var(--bs-primary);
}

.product_right button i {
    font-size: var(--heading-primary);
    transition: all linear .3s;
}

.product_right button:hover i {
    color: var(--bs-gray-100);
}

/* section common title start */

/* common card style start */


/* common card style end */
/* common style end */
/* custom css start */

/* bootstrap customize */




/* utility class */
.col-span-4 {
    grid-column: span 4;
}

@media (min-width: 768px) {
    .col-md-span-2 {
        grid-column: span 2;
    }

    .row-md-span-2 {
        grid-row: span 2;
    }
}

@media (min-width: 992px) {
    .col-lg-span-2 {
        grid-column: span 2;
    }

    .col-lg-span-1 {
        grid-column: span 1;
    }
}

.base-section-padding-bottom {
    padding-bottom: var(--spacing-140);
}

.base-section-padding-bottom:has(+ .drivider) {
    padding-bottom: var(--spacing-70);
}

/* header part end */

/* hero part start */
.hero_section {
    --section-padding-top: clamp(1.5625rem, 1.2054rem + 1.7857vw, 2.8125rem);
    --aside-width: 14.563rem;
    padding-top: var(--section-padding-top);
    padding-bottom: clamp(4.375rem, 3.125rem + 6.25vw, 8.375rem);
}

.hero_section .aside-button {
    border: none;
    background-color: transparent;
    margin-bottom: var(--section-padding-top);
}

.hero_section aside {
    width: var(--aside-width);
}

.hero_section li a {
    transition: all linear .3s;
}

.hero_section li a:hover,
.hero_section li a:focus {
    --bs-nav-link-hover-color: var(--bs-primary);
}

.hero_section li a::after {
    display: none;
}

.hero_section li a.show i {
    transform: rotate(90deg);
}

.hero_section li .dropdown-menu {
    inset: 16px auto 0 0px !important;
    transform: none !important;
}

.hero_section li .dropdown-menu a:hover {
    background: transparent;
}


/* .main_content part start */


.main_content {
    padding-left: var(--space-45);
    width: calc(100% - var(--aside-width));
}

.main_content .carousel-body {
    padding-block: 1rem 0.625rem;
    padding-inline: 0.625rem;
}

.carousel-brand {
    margin-bottom: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.carousel-brand .carousel-brand-logo {
    width: 2.5rem;
    height: 3.125rem;
}

.carousel-brand .carousel-brand-logo i {
    font-size: 3.125rem;
}

.carousel-brand .carousel-brand-item-name {
    color: var(--bs-secondary);
}

.main_content .carousel_content {
    padding-top: clamp(1.25rem, 0.8571rem + 1.9643vw, 2.625rem);
    padding-left: clamp(1.25rem, 0.6429rem + 3.0357vw, 3.375rem);
    padding-bottom: clamp(1.25rem, 0.9464rem + 1.5179vw, 2.3125rem);
}

.carousel_content h1 {
    margin-bottom: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

.main_content .carousel_content a {
    color: var(--bs-secondary);
}

.main_content .carousel_content a span {
    margin-right: 0.625rem;
}

.main_content .carousel_content a span::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: var(--bs-gray-100);
    bottom: -4px;
    left: 0;
    transition: all linear .3s;
}

.main_content .carousel_content a:hover span::after {
    width: 100%;
}

.main_content .carousel-indicators {
    bottom: 15px;
}

.main_content .carousel-indicators button {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    border: none;
    background: var(--bs-gray-100Alpha500);
    margin: 0;
}

.main_content .carousel-indicators button.active {
    width: 0.625rem;
    height: 0.625rem;
    background: var(--bs-primary);
    border: 2px solid var(--bs-gray-100);
}

/* .main_content part end */

/* product part start */
.product .common {
    margin-bottom: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
}

.product_slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: 1.875rem;
}

.view_product {
    margin-top: var(--spacing-70);
}



.drivider {
    margin-bottom: var(--spacing-70);
}

.drivider-border {
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}

/* product part end */
/* category part start */
.category_wrapper .category_item {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: var(--space-24);
    cursor: pointer;
    transition: all linear .3s;
}

.category_wrapper .category_item:hover {
    background: var(--bs-primary);
}

.category_wrapper .category_item p {
    font-size: var(--heading-primary);
    color: var(--blackAlpha900);
    transition: all linear .3s;
}

.category_wrapper .category_item i {
    font-size: 56px;
    transition: all linear .3s;
}

.category_wrapper .category_item svg {
    width: 3.5rem;
    height: 3.5rem;
    transition: all linear .3s;
}

.category_wrapper .category_item:hover p,
.category_wrapper .category_item:hover i,
.category_wrapper .category_item:hover svg {
    color: var(--bs-gray-100);
}

/* category part end */
/* best selling product part start */
/* best selling product part end */
/* category part start */
.categori {
    padding-bottom: var(--spacing-70);
}

.categori .categori_banner {
    padding-inline: clamp(1.875rem, 1.4107rem + 2.3214vw, 3.5rem) clamp(1.875rem, 1.625rem + 1.25vw, 2.75rem);
    padding-block: clamp(1.875rem, 1.75rem + 0.625vw, 2.3125rem) clamp(1.875rem, 1.6429rem + 1.1607vw, 2.6875rem);
}

.categori .categori_banner .categori_left {
    padding-top: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
    padding-bottom: clamp(1rem, 0.8214rem + 0.8929vw, 1.625rem);

}

.categori .categori_banner .categori_left>p {
    line-height: 1.25rem;
    color: var(--bs-success);
    margin-bottom: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
}

.categori .categori_banner .categori_left h2 {
    margin-bottom: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
}

.categori .counter {
    gap: 24px;
    margin-bottom: 2.5rem;
}

.categori .counter_item {
    width: 3.875rem;
    height: 3.875rem;
    padding: 0.875rem 0.438rem;
    background: var(--bs-gray-100);
}

.categori .counter_item span {
    font-size: var(--heading-primary);
    line-height: 1.25rem;
}

.categori .counter_item span::after {
    display: none;
}

.categori .counter_item p {
    font-size: 11px;
    line-height: 18px;
    margin-bottom: 0;
}

.categori .categori_right {
    position: relative;
    z-index: 1;
}

.categori .categori_right::before {
    position: absolute;
    content: "";
    max-width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #D9D9D9;
    opacity: 0.3;
    filter: blur(6.25rem);
    z-index: -1;
}

/* category part end */
/* explore part start */
.select-color .select-color-item {
    width: 1.25rem;
    height: 1.25rem;
}

.select-color-item input,
.select-color-item .output-color {
    width: 100%;
    height: 100%;
}

.select-color-item .output-color {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--bs-primary);
    z-index: 99;
    pointer-events: none;
}

.select-color-item input {
    border: none;
}

.select-color-item input:checked+.output-color {
    border: 2px solid var(--bs-black);
    background-color: var(--bs-white);
}

.select-color-item input:checked+.output-color::before {
    content: "";
    position: absolute;
    background-color: var(--bs-primary);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}


.explore_product .explore_product_wrapper .price_details span {
    text-decoration: none;
}

.explore_product .explore_product_wrapper .select-color .color_item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--blackAlpha900);
    z-index: 9;
}

.explore_product_wrapper .select-color .color_item::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid var(--bs-gray-100);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bs-primary);
    z-index: -1;
}

.explore_product_wrapper .select-color .color_item:last-child {
    width: 20px;
    height: 20px;
    background: var(--bs-primary);
}

.explore_product_wrapper .select-color .color_item:last-child::before {
    display: none;
}

/* explore part end */
/* new arrival part start */
.arrival_wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.arrival_wrapper .arrival_content h4 {
    color: var(--bs-gray-100);
    font-size: clamp(1.25rem, 1.5357rem, var(--font-size-14));
    line-height: var(--line-height-secondary);
    letter-spacing: 3px;
}

.arrival_wrapper .arrival_content p {
    font-size: var(--font-size-14);
    line-height: var(--line-height-base);
    color: var(--bs-gray-100);
}

.arrival_wrapper .arrival_content a {
    display: inline !important;
    font-size: var(--heading-primary);
    line-height: var(--line-height-secondary);
    color: var(--bs-gray-100);
    text-decoration: none;
    transition: all linear 0.3s;
    position: relative;
}

.arrival_wrapper .arrival_content a:hover::after {
    width: 100%;
}

.arrival_wrapper .arrival_content a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    color: var(--bs-gray-100);
    background: var(--bs-gray-100);
    bottom: 0;
    left: 0;
    transition: all linear 0.3s;
    z-index: 2;
}

.arrival_wrapper .arrival_item {
    background: var(--blackAlpha900);
}

.arrival-bottom {
    gap: 30px;
}

.arrival-bottom>div {
    width: 50%;
}

.arrival-right {
    gap: 30px;
}

/* new arrival part end */
/* delivery part start */
.delivery_item .delivery_img {
    padding: 9px;
    background: rgba(47, 46, 48, 0.3);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.delivery_img .delivery-img-body {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3.625rem;
    height: 3.625rem;
    background-color: var(--bs-black);
    border-radius: 50%;
}

.delivery_img .delivery-img-body img {
    width: 2.5rem;
    height: 2.5rem;
}

.delivery .delivery_item {
    gap: 1.5rem;
}

.delivery_item .delivery_content h4,
.delivery_item .delivery_content p {
    font-family: var(--bs-body-font-family);
}

.delivery_item .delivery_content p {
    font-size: 0.875rem;
    line-height: 1.313rem;
    margin-bottom: 0;
}

/* delivery part end */
/* footer part start */


/* sign up page style start*/
.sign_up {
    --section-top-padding: var(--spacing-60);
    --section-bottom-padding: clamp(4.375rem, 9.375rem, 8.75rem);
    padding-top: var(--section-top-padding);
    padding-bottom: var(--section-bottom-padding);
    height: 68.125vw;
}

.sign_up .sign-up-img {
    width: 55.9vw;
    height: 54.236vw;
    top: var(--section-top-padding);
    left: 0;
    bottom: var(--section-bottom-padding);
}

.sign_up .account h1 {
    font-size: var(--heading-2);
    line-height: 30px;
    letter-spacing: 2px;
}

.sign_up .account p {
    font-size: var(--heading-primary);
    line-height: var(--line-height-secondary);
}

.sign_up .account form>div {
    margin-bottom: 40px;
}

.sign_up .account form>div input::placeholder {
    font-size: var(--heading-primary);
    font-weight: 400;
    line-height: var(--line-height-secondary);
    color: rgba(0, 0, 0, 0.4);
}

.sign_up .account form>div input:focus {
    border: none;
    box-shadow: none;
}

.sign_up .account form .forget_btn {
    font-size: var(--heading-primary);
    line-height: var(--line-height-secondary);
    color: var(--bs-primary);
}

.sign_up .account a {
    text-decoration: none;
    margin-bottom: 2rem;
}

.sign_up .account a span {
    font-size: var(--heading-primary);
    line-height: var(--line-height-secondary);
    color: var(--blackAlpha900);
}

.sign_up .account .log_in span {
    font-size: var(--heading-primary);
    line-height: var(--line-height-secondary);
    color: rgba(0, 0, 0, 0.7);
}

.sign_up .account .log_in a {
    font-size: var(--heading-primary);
    line-height: var(--line-height-secondary);
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
}

/* sign up page style end*/
/* cart page style style*/


/* cart page style end*/
/* wishlist page style */
.wishlist_header h3 {
    font-size: clamp(1rem, 6vh, 1.25rem);
}

/* footer part end */
/* responsive css start */
@media only screen and (max-width: 991px) {
    header .navbar {
        --bs-navbar-padding-y: 2.188rem;
    }

    header .header .select_box {
        position: relative;
    }

    .hero_section aside {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
    }

    .hero_section aside.show {
        opacity: 1;
        visibility: visible;
        padding: 1.5rem;
        left: -1rem;
        right: 0;
        width: auto !important;
        top: 0;
        height: 100vh;
        overflow-y: auto;
    }

    .hero_section .main_content {
        width: 100%;
        padding-left: 0;
    }
}

@media only screen and (min-width: 991px) {
    .hero_section aside .nav::after {
        content: "";
        position: absolute;
        width: 0.5px;
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 0;
        right: 0;
        top: calc((-1 * (var(--section-padding-top) - 5px)));
    }

    .sign_up_wrapper .content {
        width: calc(44.10%);
        padding-left: 129px;
        padding-right: 50px;
    }

    .sign_up_wrapper .content .account {
        max-width: 380px;
    }

    .arrival_wrapper> {
        width: 50%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .navbar .navbar-nav {
        height: 100vh;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        display: inline-block;
    }

    .navbar .shoping {
        margin-left: 0 !important;
    }

    .wrapper .collapse_btn_aside {
        display: block !important;
    }

    aside {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100% !important;
        height: 100vh;
        z-index: 999;
        border-right: none !important;
        transition: all linear 0.3s;
    }

    .main_content {
        padding-left: 0;
    }

    .main_content .slider_img .carousel-inner .carousel-item .carousel_content {
        padding: 20px;
    }

    .main_content .slider_img .carousel-inner .carousel-item .carousel_content p {
        margin-bottom: 18px;
    }

    .main_content .slider_img .carousel-inner .carousel-item .carousel_content p i {
        font-size: var(--font-size-24);
    }

    .main_content .slider_img .carousel-inner .carousel-item .carousel_content p span {
        font-size: var(--font-size-14);
    }

    .main_content .slider_img .carousel-inner .carousel-item .carousel_content h1 {
        font-size: var(--font-size-24);
        line-height: 30px;
        margin-bottom: var(--space-12);
    }

    .main_content .slider_img .carousel-inner .carousel-item .carousel_content a {
        font-size: var(--font-size-14);
    }

    .product_title h2 {
        font-size: 20px;
        margin-right: 0px;
    }

    .counter .counter_item span {
        font-size: var(--font-size-14);
    }

    .product_right button i {
        font-size: var(--font-size-14);
        transition: all linear 0.3s;
    }

    .product_right button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--bs-secondary);
        border: none;
        transition: all linear 0.3s;
    }


    .best_selling_product .selling_product {
        padding-top: 40px;
    }

    .categori .categori_banner .categori_left .counter .counter_item {
        width: 50px;
        height: 50px;
        padding: 14px 7px;
        background: var(--bs-gray-100);
    }

    .categori .categori_banner .categori_left .counter {
        gap: 24px;
        margin-bottom: 20px;
    }

    .categori .categori_banner {
        background: var(--blackAlpha900) no-repeat center/cover;
        padding: 20px;
    }

    .categori {
        padding-bottom: 40px;
    }

    .explore_product .explore_product_wrapper {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .new_arrival {
        padding-bottom: 80px;
    }

    .delivery {
        padding: 0px 0 40px;
    }
}


/* responsive css end */