.best_selling_product {
    padding-block: var(--spacing-80);
}

.best_selling_product:has(+ footer){
    padding-bottom: var(--spacing-140);
}
.btn-primary {
    --bs-btn-bg: #ffffff;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}